.main-lbl-beli {
  position: relative;
}

.main-lbl-beli span {
  position: absolute;
  padding-left: 10px;
  font-size: 12px;
}

.lbl-beli {
  background: #c1c2c3;
  width: 350px;
  padding: 10px;
  height: 65px;
  border-radius: 4px;
  font-size: 20px;
}
